/*Import des polices*/

@font-face {
	font-family: 'futura light';
	src: url("/fonts/futura-light-webfont.woff") format("woff"),
	url("/fonts/futura-light-webfont.woff2") format("woff2")
}
@font-face {
	font-family: 'futura book';
	src: url("/fonts/futura_book_font-webfont.woff") format("woff"),
	url("/fonts/futura_book_font-webfont.woff2") format("woff"),
}
@font-face {
	font-family: 'futura medium';
	src: url("/fonts/futura_medium_bt-webfont.woff") format("woff"),
	url("/fonts/futura_medium_bt-webfont.woff2") format("woff2")
}
@font-face {
	font-family: 'nimbus regular';
	src: url("/fonts/nimbus-sans-l.regular-webfont.woff") format("woff"),
	url("/fonts/nimbus-sans-l.regular-webfont.woff") format("woff2")
}
@font-face {
	font-family: 'nimbus romno';
	src: url("/fonts/nimbusromno9l-regita-webfont.woff") format("woff"),
	url("/fonts/nimbusromno9l-regita-webfont.woff2") format("woff2")
}
@font-face {
	font-family: 'sofia light';
	src: url("/fonts/sofia-pro-light-webfont.woff") format("woff"),
	url("/fonts/sofia-pro-light-webfont.woff2") format("woff2")
}
@font-face {
	font-family: 'sofia regular';
	src: url("/fonts/sofia_pro_regular-webfont.woff") format("woff"),
	url("/fonts/sofia_pro_regular-webfont.woff2") format("woff2")
}
@font-face {
	font-family: 'sofia semibold';
	src: url("/fonts/sofia_pro_semibold-webfont.woff") format("woff"),
	url("/fonts/sofia_pro_semibold-webfont.woff2") format("woff2")
}

/*Css global*/

body{
	font-family: 'sofia semibold', sans-serif;
}
p.reset{
    margin-top: 0;
    margin-bottom: 0;
}
p.title-menu{
    border: 3px solid transparent;
}
p.title-menu:hover{
    border-bottom: 3px solid black;
}
img.img-reset{
    max-height: 50vh;
    object-fit: cover;
    max-width: 100%;
}
img.img-section{
    max-height: none;
    object-fit: fill;
}
.carre-gris{
    background-color: rgb(185, 180, 180);
}
p.title-menu-2{
    border: 3px solid transparent;
}
.nav2-titles>li{
    border: 3px solid transparent;
}
.nav2-titles>li:hover{
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}
.nav-2{
    padding-top: 0;
    padding-bottom: 0;
}
.card{
    max-width: 20%;;
}
p.italic{
    font-family: "nimbus romno";
}
img.bb{
    max-width: none;
    max-height: none;
}
/* .h2-weekly{
    font-family: 'nimbus romno';
}
.h3-weekly{
    font-size: small;
} */